body {
    width: 100%;
    height: inherit;
   background-image:url("../images/matimela1.jpg");
}

.container {
   
    background-color: white;
    margin-top: 40px;
    margin-left: 200px;
    margin-right:300px;
    border: groove;
    border-color: #03A828;
    padding:50px;
    border-radius:25px;

}

.topic {
    margin-left:150px;
    margin-right: 20px;
    font-size: 30px;
    font-family: Helvetica;
}

.input1 {
    margin-top:50px;
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.input2 {
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.input3 {
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.input4 {
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.input5 {
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.input6 {
    width: 300px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
}

.btn {
    width: 300px;
    height: 40px;
    padding: 5px;
    background-color: #03A828;
    font-family: 'Segoe UI Symbol';
    font-size: 12px;
    border: thin;
    color: white;
    margin-top: 50px;
    margin-left:170px;
}

    .btn:hover {
        background-color: #4F4F4F;
    }

.link {
    color: #03A828;
    margin-left: 240px;
}